<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app-container">
        <header class="header">
            <nav class="header-nav">
                <button class="nav-button">Генератор шапки</button>
                <button class="nav-button">События</button>
                <button class="nav-button">Логотипы</button>
            </nav>
        </header>
        <div class="url-form-container">
            <form class="url-form" v-if="isShowForm">
                <label for="url_input" class="url-form-label">
                    Вставьте ссылку, чтобы получить шапку:
                </label>
                <input id="url_input" type="url" class="url-form-input" v-model="eventLineURL" placeholder="URL" name="link">
                <input type="submit" class="url-from-submit" @click.prevent=responseHeadImage value="Погнали">                
            </form>
            <div class="load-gif-container" v-else-if="isLoadingHead">
                <h2 class="load-gif-caption">Пару секунд, сервер думоет...</h2>
                <img src="load.gif" alt="load" class="load-gif-img">
            </div>
        </div>
        <logo-loader class="logo-loader" v-for='(team, i) in teamsNeedForLogo' :teamname="team.name" :pkey="i" @loaded="setFlagToFormAndCheckAllForms"></logo-loader>
        <div class="ready-headers-container" v-if="finishedImages.length > 0">
            <p class="ready-headers-caption">Готовые шапки</p>
            <ready-headers v-for="head in finishedImages" :head_url="head"></ready-headers>         
        </div>
    </div>
    <script src="script-vue.js"></script>
</body>
</html>