body, html 
    font-family: 'Manjari', sans-serif
    padding 0
    margin 0

body
    background linear-gradient(110.27deg, #212121 0%, #1A1A1A 100%);

.header
    background-color #861F1F
    height 70px
    display grid
    grid-template-columns 300px
    padding 0 20px

.header-nav
    display grid
    grid-template-columns repeat(3,200px)

.nav-button
    background-color rgba(0,0,0,0);
    color white
    border none
    font-size 20px
    font-weight 500

.nav-button:hover
    background-color #6C1010

.url-form-container
    display flex
    justify-content center
    align-items center
    padding 100px

.url-form
    display flex
    align-items center

.url-form-label
    color white
    font-size 18px
    margin-right 20px

.url-form-input
    width 300px
    height 50px
    background-color rgba(0,0,0,0)
    border 2px solid white
    border-radius 30px
    padding 0 10px
    color white
    margin-right 20px
    box-sizing border-box

.url-from-submit
    background-color #446C10
    border-radius 30px
    border none
    height 50px
    padding 0 30px
    color white
    font-size 18px


.load-gif-caption
    color white
    margin-bottom 30px

.logo-loader
    border 2px solid gray
    padding 20px

.logo-loader-caption 
    color white

.logo-loader-title
    color white

.logo-loader-input
    color white
//     background-color #446C10
//     border-radius 30px
//     border none
//     height 50px
//     padding 0 10px
//     color white

.head-constructor-title
    color white

.constructor-container
    display grid
    grid-template-rows 300px 70px

.constructor-view-container
    width 3180px
    height 800px
    position relative
    transform scale(.35)
    transform-origin left top

.constructor-view-grid
    width 100%
    height 100%
    position absolute

.constructor-view-grid-line
    background-color cyan
    position absolute

.constructor-view-grid-line-hr-top
    width 100%
    height 3px
    top 180px

.constructor-view-grid-line-hr-bottom
    width 100%
    height 3px
    top 470px

    
.constructor-cell-view
    overflow hidden

.constructor-view-background
    width inherit
    height inherit

.constructor-view-logo
    position absolute
    height 300px

.constructor-controls-label
    color white

.load-gif-container
    position relative
    display flex
    justify-content center

.load-gif-img
    width 400px

.load-gif-caption
    position absolute
    font-size 20px
    text-align center

.ready-head
    width 800px

.constructor-controls
    display grid
    grid-template-columns repeat(4, 300px) 170px
    grid-gap 25px

.constructor-controls > div
    display flex
    flex-direction column

.ready-headers-container
    border 1px solid white
    border-radius 20px
    margin 20px

.ready-headers-caption
    color white
    font-weight 600
    font-size 18px
    text-align center

.logo-loader-ok
    display flex
    justify-content center
    flex-direction column

.logo-loader-ok-caption
    text-align center
    color white
    font-weight 600
    font-size 18px

